# Roblox build výstupy
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
*.rbxl.lock
*.rbxlx.lock

# Nástroje
/.rokit/
/.aftman/
/Packages/
/DevPackages/
tools/luau

# Editory / OS
.DS_Store
.vscode/
*.log
__pycache__/
tools/luau-analyze
